::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

.position-list{
    width: 850px;
    height: 300px;
    margin: 40px auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(31,56,88,0.08);
}
.position-list .header{
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    font-family: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(31,56,88,.1);
}
.position-list .header .more{
    cursor: pointer;
}
.position-list .container{
    height: 250px;
    font-size: 14px;
    font-family: normal;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    overflow-y: auto;
}
.position-list .container .position-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
} 
.position-list .name{
    color: #3c99d8;
    cursor: pointer;
}
.position-list .city,
.position-list .time{
    font-family: normal;
    color: #666;
} 